<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
--> 


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ada's Menu</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<% for (let i = 0; i < pizza.length; i++) { %>
	  <h1 id="allPizzaHeader"><a href="/allpizza/<%= i+1 %>"><%= pizza[i].flavor %></a></h1>
	<% } %>
</body>
</html>