<!-- When rendered in the browser, the /pizza view should:
  - have a list of every pizza flavor
  - the pizza flavors should also have the location and the picture
--> 

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Menu</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
</body>
</html>