
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= flavor %></title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1 id="singlePizzaHeader"> <%= flavor %> Pizza</h1>
	<h2>Orginally from <%= location %></h2>
	<img src= <%= image %> >
	<p></p>
</body>
</html>