
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= flavor %></title>
	<link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
	<link rel="stylesheet" href="../style.css">
</head>
	<header>
		<nav>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/allpizza">Menu</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
<body>
	<h1 id="singlePizzaHeader"> <%= flavor %> Pizza</h1>
	<h2>Orginally from <%= location %>, made perfect at Ada's...</h2>
	<img src= <%= image %> >
	<p></p>
	<footer>
		
	</footer>
</body>
</html>